.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #000;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: moveStar 5s linear infinite;
}

@keyframes moveStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}